html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  border: 1px solid white;
  border-radius: .5rem;
  padding: 1rem;
  color: white;
  transition: all 300ms;
  transition-delay: 100ms;
}

a:hover {
  background-color: white;
  color: #02023E;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(8, 199, 214);
  background: linear-gradient(153deg, rgba(8, 199, 214, 1) 0%, rgba(2, 2, 62, 1) 100%);
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  border: none;
}
.logo:hover {
  background-color: unset;
  color: unset;
  transform: none;
}