.heading {
  font-size: 1.2em;
  color: white;
  font-weight: 300;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.link:hover {
  transform: translateY(10px);
}