.entry {
    width: 600px;
    color: white;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }

  .button {
    text-align: center;
  }